Part 1) 

1) 
Explain three principles of effective data communication from your lecture material: 
1) Simplicity - visualizations should be simple and easy to understand, not cluttered. Labels should be clear and concise. Don't overwhelm the audience with too much information. 
2) The context needs to be clear. For example, if the audience is Samsung and you are presenting sales data from t-mobile stores, the data presented should be relevant to the audience. 
3) Find ways to connect to the audience, to make the data relatable to them. If it is too abstract they might not follow or lose interest. 

2) 

Explain the following concepts as they relate to visual perception: order, hierarchy, relationships, and convention. How does an understanding of these concepts help you create better visualizations?

Order: Order refers to the arrangement of the elements in the visualization. This could be the order of categories on a bar graph, or what is chosen as the x and y axis on a graph intended to show correlations. The clarity and impact of the visualization can be affected by the order of the elements. 

Hierarchy: Hierarchy refers to the arrangement of elements in a visualization to indicate which one is emphasized more. Size, position, and color are some ways to emphasize certain elements over others. 

Relationships: Usually we study data to find relationships between the variables. The relationships between data points or categories could be important here. 

Convention: The standard practices used in visualization, such as standard chart types, scales (percent, logarithmic). 

Understanding these principles can make your visualizations more clear, impactful, and memorable. 

3) 

What type of graph would be best for 
- comparison between values: a bar graph or line graph. 
- comparison to the whole : a pie chart or stacked bar/column chart. 
- change over time: a line graph. 
- ranking data: a bar graph 
- for correlation: a scatter plot 
- geographical charts: a map
- measuring a target: line graph, bar graph, pie chart, scatter plot, or area graph. 
- showing outliers: box plot, scatter plot, dot plot, or line plot. 

Using the appropriate type of graph will be useful to make the communication more effective. 

4) 

Consider the following quote:

“It is easy to lie with statistics. It is hard to tell the truth without it.” - Andrejs Dunkels

What do you think is meant by this statement?

Provide three examples of misleading graphs. Explain what is misleading about the graph in your example and what should be changed to make the graph objective and accurate.

This statement means that statistics can be used to manipulate data. A biased or misleading picture can be presented in some cases. It can also be used to reveal the truth. 

Example 1: If the y-axis starts at a very large value rather than 0, it can make the differences in bars on a bar graph appear larger than they really are. 

Example 2: Pie charts: If the small slices are very small, the larger portion can appear larger than it really is. 
Example 3: Line Graphs: If a line graph uses a curve that smoothes out the fluctuations in the data, it can give the impression that the data is more consistent than it actually is. 

Some good examples: 

https://www.datapine.com/blog/misleading-statistics-and-data/

5) What is “visualization clutter?”
What are the main components of a graph?
What are three techniques you learned to make data visualizations more clear?
How can the use of color affect the way your visualizations are understood?


Visualization clutter is the overuse or misuse of visual elements. The main components of a graph are: 

The title, x-axis, y-axis, data, labels, legend, title, labels. 

You can make data visualization more clear by simplifying the graph (removing unnecessary elements and information from the graph), highlighting important information (using colors, patterns, or symbols to emphasize import data points or trends, and interactivity (allowing the audience to interact with the graph by zooming in, panning, or highlighting specific data points). 

Color can distinguish data points or elements on the graph, highlight important information, and convey a message. 

Sometimes color can be confusing. For instance if you used red to indicate positive values and blue to indicate negative values it might be confusing since these colors are usually associated with the opposite meaning.

Part 2) 
For part 2, we will examine salary data from week 3. The first step is to import the data.

In [1]:
import pandas as pd

In [2]:
df_salary = pd.read_csv('salary.csv')

In [3]:
df_salary.head()

   age gender    education  industry  industry_experience       salary
0   19   Male  high school  business                    0  33640.60752
1   21   Male  high school  business                    2  43554.24216
2   19   Male  high school  business                    0  39795.29424
3   22   Male  high school  business                    1  51102.98856
4   21   Male  high school  business                    1  32809.57056

The "big idea" I would like to communicate about the salary data is the relationship between gender and salary, age and salary, and industry and salary.

In [4]:
df_salary.describe()

                age  industry_experience         salary
count  25439.000000         25439.000000   25439.000000
mean      46.219466            18.418413  101416.000070
std       12.758662             8.916748   26136.687123
min       18.000000             0.000000   28054.080000
25%       36.000000            12.000000   84621.294048
50%       47.000000            19.000000  101148.480000
75%       57.000000            25.000000  119828.075728
max       67.000000            35.000000  175223.321900

In [5]:
from scipy.stats import pearsonr

In [6]:
correlation, p_value = pearsonr(df_salary['age'],df_salary['salary'])
print(correlation)
print(p_value)

0.6631258539501859
0.0

In [7]:
df_supermarket = pd.read_csv('supermarket.csv')

In [8]:
df_supermarket.head()

   store_id  store_area  items_available  daily_customer_count  store_sales
0         1        1659             1961                   530        66490
1         2        1461             1752                   210        39820
2         3        1340             1609                   720        54010
3         4        1451             1748                   620        53730
4         5        1770             2111                   450        46620

In [9]:
'''Top 10 performing stores, 
   Top 5 performing areas, 
    Average daily customers overall'''


# Find the top 10 performing stores 
 

df_supermarket.sort_values(['store_sales'], ascending=False).head(10)

     store_id  store_area  items_available  daily_customer_count  store_sales
649       650        1989             2414                   860       116320
868       869        1775             2104                   980       105150
432       433        1365             1638                   680       102920
408       409        1303             1587                  1310       102310
758       759        1486             1758                   820       101820
557       558        1137             1374                   700       101780
866       867        1565             1854                   900       100900
166       167        1465             1763                   680        99570
692       693        1548             1858                   480        99480
871       872        1800             2158                  1100        98260

In [10]:
sales = df_supermarket.groupby("store_area")["store_sales"].sum()

In [11]:
top_areas = sales.sort_values(ascending=False).head(5)

In [12]:
print(top_areas)

store_area
1440    362330
1539    345940
1439    341400
1513    311570
1458    300200
Name: store_sales, dtype: int64

In [28]:
avg_customers = df_supermarket['daily_customer_count'].mean()

In [29]:
!pip install streamlit st

Requirement already satisfied: streamlit in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (1.18.1)
Requirement already satisfied: st in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (0.0.8)
Requirement already satisfied: rich>=10.11.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (13.3.1)
Requirement already satisfied: click>=7.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (8.1.3)
Requirement already satisfied: validators>=0.2 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (0.20.0)
Requirement already satisfied: python-dateutil in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (4.11.3)
Requirement already satisfied: packaging>=14.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (22.0)
Requirement already satisfied: cachetools>=4.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (5.3.0)
Requirement already satisfied: toml in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: tornado>=6.0.3 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (6.2)
Requirement already satisfied: tzlocal>=1.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (4.2)
Requirement already satisfied: numpy in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (1.24.2)
Requirement already satisfied: pympler>=0.9 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (1.0.1)
Requirement already satisfied: altair>=3.2.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (4.2.2)
Requirement already satisfied: protobuf<4,>=3.12 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (3.20.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (4.4.0)
Requirement already satisfied: pandas>=0.25 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (9.4.0)
Requirement already satisfied: pyarrow>=4.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: blinker>=1.0.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (1.5)
Requirement already satisfied: semver in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (2.13.0)
Requirement already satisfied: pydeck>=0.1.dev5 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (0.8.0)
Requirement already satisfied: requests>=2.4 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (2.28.1)
Requirement already satisfied: gitpython!=3.1.19 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from streamlit) (3.1.30)
Requirement already satisfied: toolz in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from altair>=3.2.0->streamlit) (0.12.0)
Requirement already satisfied: entrypoints in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from altair>=3.2.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from altair>=3.2.0->streamlit) (4.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from gitpython!=3.1.19->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from importlib-metadata>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from pandas>=0.25->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from requests>=2.4->streamlit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from requests>=2.4->streamlit) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from requests>=2.4->streamlit) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from requests>=2.4->streamlit) (3.4)
Requirement already satisfied: pygments<3.0.0,>=2.14.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from rich>=10.11.0->streamlit) (2.14.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.1.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from rich>=10.11.0->streamlit) (2.1.0)
Requirement already satisfied: pytz-deprecation-shim in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from tzlocal>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from validators>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from jinja2->altair>=3.2.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from markdown-it-py<3.0.0,>=2.1.0->rich>=10.11.0->streamlit) (0.1.2)
Requirement already satisfied: tzdata in /Users/sonalee/opt/anaconda3/envs/test_panda_01/lib/python3.9/site-packages (from pytz-deprecation-shim->tzlocal>=1.1->streamlit) (2022.7)

In [30]:
import streamlit as st

In [31]:
st.write("Top 5 performing stores:")
st.write(top_areas)

In [32]:
st.write("Average Customer Count:")
st.write(avg_customers)